@media (max-width: 1366px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }

    .top__title {
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
    }

    .top__inner {
        margin-top: 0;
    }

    .top__inner img {
        width: 80%;
    }

    .top__text {
        margin: 15px 0 25px;
    }

    .page-section__whrapper {
        padding: 100px 0 0;
    }

    .top__whrapper {
        padding-top: 50px;
    }

    .products__slider-box {
        padding-top: 0;
    }

    .products__slider-text {
        bottom: auto;
        left: auto;
        top: -105px;
        right: 0;
    }

    .products__inner {
        padding: 0 25px;
    }

    .benefits .title,
    .questions .title {
        margin-bottom: 30px;
    }

    .benefits__item {
        margin-bottom: 70px;
    }

    .benefits__item-3::after {
        height: 40px;
        top: -44px;
        right: -34px;
    }

    .questions__item-title {
        padding: 18px 10px 17px 40px;
    }

    .questions__item.questions__item--active .questions__item-text {
        padding: 0 5px 40px 40px;
    }

    .specification__item img {
        width: 100%;
    }

    .questions__item-title::after {
        width: 68px;
        height: 63px;
        right: -69px;
    }

}

@media (max-width: 1280px) {
    .benefits .title {
        margin-bottom: 40px;
    }

    .benefits__items {
        padding-left: 10px;;
    }

    .benefits__item {
        margin-bottom: 60px;
    }

    .benefits__info-title {
        font-size: 20px;
    }

    .benefits__info-text {
        font-size: 14px;
        line-height: 16px;
        width: 250px;
    }

    .benefits__item {
        width: 45%;
    }

    .benefits__item-1::before {
        width: 35%;
    }

    .benefits__item-3::before {
        width: 37%;
    }

    .benefits__item-3::after {
        width: 490px;
        top: -34px;
        right: -94px;
    }

    .specification__box-3::before,
    .specification__box-4::before,
    .specification__box-2::before,
    .specification__box-1::before {
        display: none;
    }

    .specification__inner {
        padding: 0 15px;
    }

    .contacts__inner {
        padding: 0 25px;
    }

    .footer__copy {
        padding-right: 25px;
    }
    
    .contacts__form {
        width: 60%;
        margin-right: 10%;
    }
}

@media (max-width: 1100px) {
    .header {
        top: 0;
        padding: 15px 0;
        background: rgba(0, 0, 0, .4);
    }

    .menu {
        order: 1;
    }

    .menu__list {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(#1C1C1C, .9);
        z-index: -1;
        display: flex;
        padding-top: 90px;
        padding-left: 24px;
        flex-direction: column;
        justify-content: space-around;
        transform: translateY(-100%);
        transition: .5s;
        overflow: auto;

        &--active {
            transform: translateY(0);
        }
    }

    .menu__list-item+.menu__list-item {
        padding-left: 0;
    }

    .menu__list-item {
        margin-bottom: 35px;
        &:first-child {
            margin-top: auto;
        }
    }

    .menu__list-phone,
    .menu__list-link {
        display: block;
    }

    .menu__list-phone {
        padding-top: 33px;
        position: relative;
        margin-bottom: auto;
        margin-top: auto;
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;

        &::before {
            content: '';
            position: absolute;
            border-top: 1px solid rgba(#fff, .24);
            top: 0;
            left: -24px;
            right: 0;
        }
    }
    
    .menu__btn {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
    }

    .menu__btn::before,
    .menu__btn::after {
        content: " ";
        display: block;
        width: 24px;
        height: 2px;
        background-color: #E0E0E0;
        margin-bottom: 4px;
        transition: .3s;
    }

    .menu__btn::after {
        content: "";
        margin-left: auto;
        margin-bottom: 0;
        width: 16px;
    }

    .menu__btn-line {
        background-color: #E0E0E0;
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 4px;
        transition: .5s;
        opacity: 1;
    }
    
    .menu__btn.menu__btn--active {
        .menu__btn-line {
            opacity: 0;
            transition: 0s;
        }

        &::after {
            width: 24px;
            transform: translateY(-6px) rotate(-135deg);
        }

        &::before {
            transform: translateY(6px) rotate(135deg);
        }
    }

    .header__phone {
        display: none;
    }

    .header__btn {
        margin-right: 0;
    }

    .products__text {
        padding-right: 15px;
    }

    .benefits__item-1::before,
    .benefits__item-3::before,
    .benefits__item-3::after {
        display: none;
    }

    .benefits__items {
        display: block;
    }

    .benefits__item {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 10vh;
    }

    .benefits__item:nth-child(even) {
        margin-left: 50vh;
        transform: translateY(0);
    }

    .benefits__item:last-child {
       margin-bottom: 0;
    }

    .benefits__info-text {
        width: 300px;
    }

    .page-section__whrapper {
        padding: 100px 0 80px;
    }

    .specification__box {
        width: 260px;
    }

    .specification__box-2, 
    .specification__box-4 {
        margin-top: 90px;
    }

    .specification__item:nth-child(2) {
        margin: 0 10px;
    }

    .questions__item:nth-child(3)::before {
        display: none;
    }
}

@media (max-width: 1024px) {
    .products__slider-text {
        font-size: 20px;
        line-height: 22px;
        top: -85px;
    }    
}


@media (max-width: 960px) {
    .products__inner {
        display: block;
        padding-bottom: 90px;
    }

    .products__text {
        padding-right: 0;
        max-width: 100%;
        margin-bottom: 60px;

        & p {
            margin: 0 0 10px;
        }
    }

    .title {
        margin-bottom: 25px;
    }

    .products__slider-box {
        display: flex;
        justify-content: center;
    }

    .products__slider {
        position: relative;
    }

    .products__slider-text {
        top: auto;
        left: 0;
        bottom: 0;
        text-align: left;
    }

    .benefits__item {
        margin-left: 5vh;
    }

    .benefits__item:nth-child(even) {
        margin-left: 30vh;
    }
}

@media (max-width: 860px) {
    .specification__item:nth-child(2) {
        display: none;
    }

    .specification__box {
        width: 300px;
    }

    .specification__box-2, 
    .specification__box-4 {
        margin-top: 0;
    }

    .specification__box {
        margin-bottom: 40px;
    }

    .specification__inner {
        padding: 0;
    }

    .contacts__form {
        width: 60%;
        margin-right: 5%;
    }
}

@media (max-width: 800px) {
    .benefits__item {
        margin-left: 5vh;
    }

    .benefits__item:nth-child(even) {
        margin-left: 5vh;
    }

    .questions__item-title::after {
        width: 44px;
        height: 42px;
        right: 11px;
        top: 11px;
    }

    .questions__item-title {
        padding-right: 72px;
    }

    .contacts__inner {
        flex-direction: column;
    }

    .contacts__form {
        width: 100%;
        margin-right: 0;
    }

    .contacts__info {
        display: flex;
        flex-direction: row;
    }

    .contacts__info-box {
        display: inline-block;
        margin-right: 15px;
    }

    .contacts__social-list {
        width: 270px;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px auto 0;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 26px;
        line-height: 28px;
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 15px;
    }

    .products__inner {
        padding: 0 0 90px;
    }

    .products__slider {
        max-width: 90%;

        &::before {
            max-width: 90%;
            height: 100%;
        }
    }

    .products__slider-text {
        font-size: 17px;
        max-width: 200px;
    }

    .slider-btn {
        padding: 10px 16px;
        right: 0;
        bottom: -37px;
    }

    .slider-btn__left {
        right: 42px;
    }

    .slick-slide img {
        width: 100%;
    }

    .specification__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .specification__box {
        width: 100%;
        margin: 0 0 15px;
        height: auto;
    }

    .specification__box-1 {
        margin-top: 15px;
    }

    .questions__item-title {
        font-size: 20px;
    }

    .questions__item-text {
        font-size: 14px;
    }

    .questions__item-title {
        padding: 14px 25px 12px;
    }

    .questions__item--active .questions__item-title {
        padding: 14px 25px 10px;
        border-bottom: 2px solid rgba(0,0,0,0.15);
    }

    .questions__item-title::after {
        display: none;
    }
    
    .questions__item.questions__item--active .questions__item-text {
        padding: 18px 5px 20px 25px;
    }
    
    .contacts__info {
        flex-direction: column;
    }

    .contacts__inner {
        padding: 0;
    }

    .contacts__info-title {
        line-height: 22px;
        font-size: 20px;
        margin: 0 0 5px;
    }

    .contacts .title {
        margin-bottom: 25px;
    }

    .contacts__info-phone, 
    .contacts__info-email {
        font-size: 14px;
        line-height: 16px;
    }

    .contacts__info-box {
        margin-bottom: 20px;
    }

    .contacts__form-title {
        line-height: 22px;
        font-size: 20px;
        margin: 0 0 10px;
    }

    .contacts__form-text {
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 12px;
    }
}

@media (max-width: 650px) {
    .benefits__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10vh;
    }

    .benefits__item:nth-child(even) {
        margin-left: 30vh;
    }

    .benefits__num {
        display: none;
    }
}

@media (max-width: 540px) {
    .top__title {
        display: none;
    }

    .top__whrapper {
        align-items: flex-end;
        padding-bottom: 50px;
    }

    .top__social-list {
        margin-top: 15vh;
    }

    .scroll__btn {
        padding: 15px 0;
    }

    .products__text p {
        font-size: 13px;
    }

    .products__slider-text {
        display: none;
    }

    .benefits__item {
        align-items: center;
        margin-left: 0;
    }

    .benefits__item:nth-child(even) {
        margin-left: 0;
    }

    .specification__box-title {
        font-size: 20px;
    }
    
    .specification__box-text {
        font-size: 14px;
    }
}

@media (max-width: 460px) {
    .benefits__info-text {
        width: 290px;
    }
}

@media (max-height: 460px) {
    .menu__list-item {
        margin-bottom: 18px;
    }

    .menu__list-phone {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}